.weather {
    place-self: center;
    padding: 40px;
    border-radius: 40px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    height: 90vh;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 1vw;
}

/*Input box inside search*/
.search-bar input {
    height: 6vh;
    width: 30vw;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

/*search icon*/
.search-bar img {
    height: 6.5vh;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

/*weather icon*/
.weather-icon {
    width: 30vh;
    margin: 30px 0;
}

.temperature {
    color: #fff;
    font-size: 8vh;
    line-height: 1;
}

.location {
    color: #fff;
    font-size: 5vh;
}

.weather-data {
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    font-size: 22px;
    margin-top: 5vh;
}

.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-data .col img {
    width: 40px;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .weather {
        height: 95vh;
        width: 90vw;
        border-radius: 20px;
        padding: 2vh 8vw;
        overflow-y: scroll;
        overflow-x: hidden;
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .weather::-webkit-scrollbar {
        display: none;
    }

    .weather-data {
        display: grid;
        grid-template-rows: 18vh 18vh;
        grid-template-columns: 45vw 45vw;
    }

    .col {
        margin: 0.5vh;
        display: flex;
        flex-direction: column;
    }

    .search-bar input {
        width: 65vw;
    }

    .search-bar {
        gap: 3vw;
        margin-top: 0vh;
    }

    /*extra*/
    .weather-icon {
        width: 20vh;
        margin: 3vh;
    }

    .weather-data{
        margin: 5vh;
    }

    .weather-data .col {
        font-size: 20px;
    }

    .weather-data .col img {
        width: 12vw;
        margin-top: 1vh;
    }

    .weather-data .col span {
        font-size: 15px;
    }

    .temperature{
        font-size: 6vh;
    }

    .location{
        font-size: 3vh;
    }
}


/*For Tablet and ipad*/
@media (min-width: 601px) and (max-width: 1200px) {
    .weather {
        height: 95vh;
        width: 93vw;
        border-radius: 30px;
        overflow-y: scroll;
        overflow-x: hidden;
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .weather::-webkit-scrollbar {
        display: none;
    }

    .weather-data {
        display: grid;
        grid-template-rows: 15vh 15vh;
        grid-template-columns: 45vw 45vw;
    }

    .col {
        margin: 1.5vh;
    }

    .search-bar input {
        width: 65vw;
        font-size: 35px;
    }

    .search-bar {
        gap: 3vw;
    }

    .weather-icon {
        width: 25vh;
    }

    .weather-data .col {
        font-size: 37px;
        gap: 4vw;
    }

    .weather-data .col img {
        width: 8vw;
        margin-top: 1vh;
    }

    .weather-data .col span {
        font-size: 28px;
    }

    .temperature{
        font-size: 100px;
    }

    .location{
        font-size: 50px;
    }
}